body{
    background-color: pink;
}
@font-face {
    font-family: "Norse";
    src: url("./fonts/norse/Norse.otf") format("truetype");
    font-weight: normal;
}

/* body {
    font-family: "Norse", sans-serif;
} */